html {
    font-size: 14px;
}

.blog-masthead {
    background-color: #b34848;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6, 
h2 a
{
    color: #b34848;
}

h2 a:hover{
    color:#b34848;
    text-decoration: underline;
    text-decoration-color:  #b34848;
}